.pai{
    background-color: silver;
    border: 1px solid red;
    height: 700px;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.filho{

background-color: black;
color: aliceblue;
border: 1px solid wheat;
width: 120px;
height: 120px;

}